@model IEnumerable<KPI>
@{
    ViewBag.Title = "Index";
    var KPI = ViewBag.KPI as KPI;
    var user = User.Identity.Name.Split('@')[0];
}

<h2>BẢNG PHÂN BỔ KPI NĂM HỌC 2019-2020</h2>

<ul class="breadcrumb" style="margin-bottom:0">
@if (KPI != KPI.KP1)
{
    <li>@KPI.MucTieu (@(KPI.TyTrong)%)</li>
    KPI = KPI != KPI.KP1 ? KPI.KP1 : null;
}
else
{
    <li>@KPI.MucTieu</li>
    KPI = null;
}
@while (KPI != null)
{
    <li>@Html.ActionLink(String.Format("{0} ({1}%)", KPI.MucTieu, KPI.TyTrong), "Details", new { id = -KPI.id })</li>
    KPI = KPI != KPI.KP1 ? KPI.KP1 : null;
}
</ul>

@{ KPI = ViewBag.KPI as KPI; }
<span class="badge">Chỉ tiêu: @KPI.ChiTieu</span>
<span class="badge">Đơn vị tính: @KPI.DonViTinh</span>

<p>
    @if (KPI.Email == user)
    {
        @Html.ActionLink("Create New", "Create", new { id = -KPI.id }, new { style = "float:right" })
    }
</p>
<table class="table">
    <tr>
        <th>Mục tiêu</th>
        <th>Tỷ trọng</th>
        <th>Chỉ tiêu</th>
        <th>Đơn vị tính</th>
        <th>Owner</th>
        <th>Done</th>
        <th></th>
    </tr>
@foreach (var item in Model.OrderBy(kpi => kpi.MucTieu))
{
    <tr>
        <td>
            @Html.ActionLink(item.MucTieu, "Details", new { id = -item.id })
            @if (!String.IsNullOrEmpty(item.GhiChu))
            {
                <pre>@item.GhiChu</pre>
            }
        </td>
        <td>
            <b>@Html.DisplayFor(modelItem => item.TyTrong)%</b> (<i>@item.KPIs.Count</i>)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiTieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonViTinh)
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @if (KPI.Email == user || item.Email == user)
            {
                <a href="@Url.Action("Finish", new { id = -item.id })" style="text-decoration:underline">
                    @item.KetQua
                </a>
            }
            else
            {
                <span>@(item.KetQua > 0 ? item.KetQua.ToString() : "")</span>
            }
            @if (item.KetQua > 0)
            {
                <abbr class="pull-right" title="@item.GhiChu2">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                </abbr>
            }
        </td>
        <td style="text-align:right">
            @if (KPI.Email == user || item.Email == user)
            {
                <a href="@Url.Action("Update", new { id = -item.id })" class="text-primary">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
                if (KPI.Email == user)
                {
                    <span>&nbsp;</span>
                    <a href="@Url.Action("Delete", new { id = -item.id })" class="text-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                }
            }
        </td>
    </tr>
}
    <tr>
        <th>Tổng cộng</th>
        <th><u>@Model.Sum(kpi => kpi.TyTrong)%</u></th>
    </tr>
</table>
