@model IEnumerable<KPI>
@{
    ViewBag.Title = "Index";
    var KPI = ViewBag.KPI as KPI;
    var user = User.Identity.Name.Split('@')[0];
}

@functions {
    double Progress(KPI kpi)
    {
        return kpi.KetQua > 0 ? 100 : kpi.KPIs.Sum(i => Progress(i) * i.TyTrong) / 100f;
    }
}

<br />
<ul class="breadcrumb" style="margin-bottom:0">
@if (KPI != KPI.KP1)
{
    <li>@KPI.MucTieu (@(KPI.TyTrong)%)</li>
    KPI = KPI != KPI.KP1 ? KPI.KP1 : null;
}
else
{
    <li><b>@KPI.MucTieu</b></li>
    KPI = null;
}
@while (KPI != null)
{
    <li>@Html.ActionLink(String.Format("{0} ({1}%)", KPI.MucTieu, KPI.TyTrong), "Details", new { id = -KPI.id })</li>
    KPI = KPI != KPI.KP1 ? KPI.KP1 : null;
}
</ul>

@{ KPI = ViewBag.KPI as KPI; }
<span><b>@KPI.MucTieu</b></span>
<span class="badge">Chỉ tiêu: @KPI.ChiTieu @KPI.DonViTinh</span>
<span>@@@KPI.Email</span>

<p>
    @if (KPI.Email == user)
    {
        <b>@Html.ActionLink("Thêm nhiệm vụ", "Create", new { id = -KPI.id }, new { style = "float:right" })</b>
    }
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Mục tiêu / nhiệm vụ</th>
        <th>Tỷ trọng</th>
        <th>Chỉ tiêu</th>
        <th>Kết quả</th>
        <th>Tiến độ</th>
        <th>Phụ trách</th>
        <th></th>
    </tr>
@foreach (var item in Model.OrderBy(kpi => kpi.MucTieu))
{
    <tr>
        <td>
            @Html.ActionLink(item.MucTieu, "Details", new { id = -item.id })
            @if (!String.IsNullOrEmpty(item.GhiChu))
            {
                <pre>@item.GhiChu</pre>
            }
        </td>
        <td>
            <b>@Html.DisplayFor(modelItem => item.TyTrong)%</b> (<i>@item.KPIs.Count</i>)
        </td>
        <td>
            @item.ChiTieu @item.DonViTinh
        </td>
        <td>
            @if (KPI.Email == user || item.Email == user)
            {
                <a href="@Url.Action("Finish", new { id = -item.id })" style="text-decoration:underline">
                    @item.KetQua
                </a>
            }
            else
            {
                <span>@(item.KetQua > 0 ? item.KetQua.ToString() : "")</span>
            }
            @if (item.KetQua > 0)
            {
                if (!String.IsNullOrEmpty(item.Filename) &&
                    System.IO.File.Exists(Server.MapPath("~/App_Data/") + -item.id))
                {
                    <abbr class="pull-right" title="@item.GhiChu2">
                        <a href="@Url.Action("Download", new { id = -item.id })">
                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                    </abbr>
                }
                else
                {
                    <abbr class="pull-right" title="@item.GhiChu2">
                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    </abbr>
                }
            }
        </td>
        <td style="padding-left:0;padding-right:0">
            @{ var progress = Math.Round(Progress(item), 0); }
            <div class="progress" style="margin-bottom:0">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:@progress%">
                    <span style="color:black">@progress%</span>
                </div>
            </div>
        </td>
        <td>
            <span class="badge">@item.Email</span>
        </td>
        <td style="text-align:right">
            @if (KPI.Email == user || item.Email == user)
            {
                <a href="@Url.Action("Update", new { id = -item.id })" class="text-primary">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
                if (KPI.Email == user)
                {
                    <span>&nbsp;</span>
                    <a href="@Url.Action("Delete", new { id = -item.id })" class="text-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                }
            }
        </td>
    </tr>
}
    <tr>
        <th>Tổng cộng</th>
        <th><u>@Model.Sum(kpi => kpi.TyTrong)%</u></th>
    </tr>
</table>
